<launch>
    <!-- ****** Maps *****  -->
    <arg name="map_file" default="$(find dilly_ssong)/maps/indoor.yaml"/>
  	
	<!-- map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <include file="$(find dilly_ssong)/launch/odom.launch" />

    <!-- filter gps add-->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find teb_local_planner_tutorials)/cfg/amcl_params.yaml" command="load" />

        <param name="initial_pose_x"            value="13.8"/>
		<param name="initial_pose_y"            value="0.991"/>
		<param name="initial_pose_a"            value="0.741"/>
	</node>
</launch>