<launch>
    <!-- odom -->
    <include file="$(find dilly_ssong)/launch/odom.launch" />

    <!--  -->
    <include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch" />
    
    <!--  -->
    <include file="$(find gmapping)/launch/slam_gmapping_pr2.launch" />

    <!-- amcl -->
    <include file="$(find scout_mini_2dnav)/launch/amcl.launch" />

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dilly_ssong)/rviz/slam.rviz" />
</launch>