<launch>
    <!-- odom -->
    <include file="$(find dilly_ssong)/launch/odom.launch" />

    <!-- map file -->
    <arg name="map_file" default="$(find dilly_ssong)/maps/map.yaml"/>
      
    <!-- map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!--  -->
    <include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch" />

    <!-- amcl -->
    <include file="$(find scout_mini_2dnav)/launch/amcl.launch" />

    <!-- move base -->
    <include file="$(find scout_mini_2dnav)/launch/move_base_only.launch" />

    <!--cmd_vel to 6wheel-->
    <node pkg="dilly_ssong" type="make_6wheel_cmd.py" name="make_6wheel_cmd" />

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dilly_ssong)/rviz/nav.rviz" />
</launch>