<launch>

    <!-- odom -->
    <node pkg="dilly_ssong" type="make_odom.py" name="make_odom" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_velodyne" args="0.06 0 0.5 0 0 0 base_footprint velodyne" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_imu" args="0.0 0 0.46 0 0 -3.14 base_footprint imu" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_gps" args="-0.02 0 0.74 0 0 0 base_footprint gps" />

    <!-- Lidar -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

</launch>