<?xml version="1.0"?>
<launch>
    <!-- tf tree launch file -->
    <node name="odom_tf_builder" pkg="" type="changminsichi.py" output="screen"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_velodyne" args="0.06 0 0.5 0 0 0 base_link velodyne" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu" args="0.0 0 0.46 0 0 -3.14 base_link imu" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_gps" args="-0.02 0 0.74 0 0 0 base_link gps" />


    <!-- velodyne launch file -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

    <!-- cartographer launch files -->
<!-- 
    <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
          -configuration_directory $(find dilly_cartographer)/lua
          -configuration_basename dilly_lua.lua"
      output="screen">
        <remap from="scan" to="scan" />
    </node>

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" /> -->


</launch>
